<div class="container">
    <div>
        <p>Please enter following information: </p>
    </div>

    <div class="row">
        <div class="col-md-6">
                <form [formGroup]="projectForm" (ngSubmit)="submitProject()">
                        <div class="form-group">
                            <label for="projectName">Project Name </label>
                            <input type="text" 
                                   id="projectName"
                                   class="form-control"
                                   formControlName="projectName">
                        </div>

                        <div class="form-group">
                            <label for="mail">Mail </label>
                            <input type="text"
                                   id="mail"
                                   class="form-control"
                                   formControlName="mail">
                        </div>

                        <div class="form-group">
                            <label for="status">Project status </label>
                            <select name="status" 
                                    id="status" 
                                    class="form-control"
                                    formControlName="status">
                                <option value="Stable">Stable</option>
                                <option value="Critical">Critical</option>
                                <option value="Finished">Finished</option>
                            </select>
                        </div>

                        <div>
                            <label>Position</label>
                            
                                <div class="radio">
                                    <label>
                                        <input type="radio" formControlName="isActive" value="active"> Active 
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" formControlName="isActive" value="inactive"> Inactive
                                    </label>
                                </div>
                            
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                </form> 
        </div>

    </div>
</div>


